<article class="post">
  {{ .Render "header" }}
  {{ .Render "featured" }}
  {{ if eq .Params.layout "remotepost" }}
    {{ .Content }}
  {{ else }}
    {{ .Content | strings.Truncate 100 | safeHTML }}
  {{ end }}
  <footer>
    <ul class="actions">
      <li>
        {{ if eq .Params.layout "remotepost" }}
          <a href="{{ .Params.remote_url }}" class="button big">Continue Reading</a>
        {{ else if eq .Params.layout "youtube" }}
          <a href="https://youtu.be/{{ .Params.video_id }}" class="button big">Watch On Youtube</a>
        {{ else }}
          <a href="{{ .RelPermalink }}" class="button big">Continue Reading</a>
        {{ end }}
      </li>
    </ul>
  {{ .Render "footer-category" }}
  </footer>
</article>
