{{ if and (isset .Params "featuredpath") (ne .Params.featuredpath "") }}
    {{ $.Scratch.Set "path" .Params.featuredpath }}

    {{ if and (isset .Params "featured") (ne .Params.featuredpath "") }}
        {{ $.Scratch.Set "structType" "page" }}
        {{ partial "img-path" . }}
        {{ $path := $.Scratch.Get "path" }}
        {{ $alt := $.Scratch.Get "alt" }}
        {{ $img := $.Scratch.Get "img" }}

        <a href="{{ .RelPermalink }}" class="image featured">
            <img src="{{ $path | relURL }}/{{ .Params.featured }}" alt="{{ $alt }}">
        </a>
    {{ end }}
{{ end }}

{{ if and (isset .Params "featuredabsurl") (ne .Params.featuredabsurl "") }}

    {{ $.Scratch.Set "structType" "page" }}
    {{ $alt := $.Scratch.Get "alt" }}

    <a href="{{ .RelPermalink }}" class="image featured">
        <img src="{{ .Params.featuredabsurl }}">
    </a>
{{ else if eq .Params.layout "youtube" }}
    <div class="video">
    <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/{{ .Params.video_id }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
{{ end }}
